.flight-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 25vw;
  height: 53vh;
  border-radius: $round-border;
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.destination-img {
  border-radius: $round-border;
  height: 25vh;
  width: 24.5vw;
  align-self: center;
}

.trip-dates-container {
  display: flex;
  justify-content: space-between;
}

p {
  margin: .7vh;
  margin-bottom: 2vh;
  color: $text-color;
  font-weight: bolder;
}

.card-header {
  margin: .7vh;
  color: $header-font-color;
}
