.main-page-container {

}

.flight-cards-container {
  border: $border $secondary-background;
  border-radius: 10px;
  background-color: $secondary-background;
  height: 55vh;
  opacity: 60%;
}

header {
}

.page-header-img {
  height: 8vh;
}
