// BACKGROUND
$primary-background: #e0e7fb;
$secondary-background: #808080;

$border: solid;
$round-border: 10px;

$primary-font: 'Noto Sans', sans-serif;

$header-font-color: #1C304A;
$text-color: #008000;
